.contentWraper {
  padding: 10px;
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: 0.4em;
    @apply bg-slate-100;
  }
  &:-webkit-scrollbar-track {
    box-shadow: inset 4px 4px 16px rgba(0, 0, 0, 0.078);
  }
  &::-webkit-scrollbar-thumb {
    @apply bg-slate-500/[0.16];
    border-radius: 99px;
  }
}
